body{ 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%;
    overflow: hidden;
}

header{
    text-align: center;
    color: rgb(128, 126, 126);
    font-size: 8px;
    padding-top: 0.5%;
}

select option[value=""][disabled] {
	display: none;
}


#wholeScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

#webCompiler {
    background-color: rgb(228, 228, 228);
    overflow: visible;
    height: 85%;
}
#loginEnter{
    text-align: center;
    padding-top: 10%;
}


.splitWrapper{
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 0.5%;
    height:77vh;
}
.splitHorizontal{ 
    display: flex; 
    flex-direction: row; 
    background-color: rgb(228, 228, 228);
    height:77vh;
}
.splitVertical {  
    display: flex; 
    flex-direction: column;  
    background-color: black;
}
.gutter {
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
}
.gutter.gutter-vertical {
    cursor: row-resize;
}

.leftPanel::-webkit-scrollbar {
    width: 18px;  /* 스크롤바의 너비 */
}

.leftPanel::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    background: #bdbbbb; /* 스크롤바의 색상 */
    border-radius: 10px;
    background-clip: padding-box;
    border: 4px solid transparent;
    
}

.leftPanel::-webkit-scrollbar-track {
    background: rgb(228, 228, 228);  /*스크롤바 뒷 배경 색상*/
    padding-left: 5px;
}

.leftPanel img{
    position: relative; top:0; left: 0;
    max-width: 100%;
    width: 1400px;
}/*기본 width를 크게 설정해놓고 max-width를 100%로 하면 화면 사이즈에 맞게 조정, 최대 크기는 1400*/


#question{
    padding-left: 0.2%;
    background-color: rgba(255,255,255,1);
    overflow-y: auto;
    overflow-x: auto;
}

.codeEditor{
    z-index: 1;
    border-radius: 10px;
}

#solution{
    z-index: 1;
    border-radius: 10px;
}

.editor::-webkit-scrollbar {
    width: 18px;  /* 스크롤바의 너비 */
}

.editor::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    background: rgb(71, 70, 70); /* 스크롤바의 색상 */
    border-radius: 10px;
    background-clip: padding-box;
    border: 4px solid transparent;
    
}

.editor::-webkit-scrollbar-track {
    padding-left: 5px;
}

#solution::-webkit-scrollbar {
    width: 18px;  /* 스크롤바의 너비 */
}

#solution::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    background: rgb(71, 70, 70); /* 스크롤바의 색상 */
    border-radius: 10px;
    background-clip: padding-box;
    border: 4px solid transparent;
    
}

#solution::-webkit-scrollbar-track {
    padding-left: 5px;
}


#result{
    overflow:auto;
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(71, 70, 70);
    color: white;
}

#result::-webkit-scrollbar {
    width: 18px;  /* 스크롤바의 너비 */
}

#result::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    background: #bdbbbb; /* 스크롤바의 색상 */
    border-radius: 10px;
    background-clip: padding-box;
    border: 4px solid transparent;
    
}

#result::-webkit-scrollbar-track {
    background: rgb(71, 70, 70);  /*스크롤바 뒷 배경 색상*/
    padding-left: 5px;
}


.editor{
    overflow-y: auto;
    display: flex;
    background-color: black;
    border-radius: 10px;
    height: 100%;
}
#lineCounter{
    padding-top: 15px;
    padding-left: 15px;
    overflow: hidden;
    height: 95%;
    border: none;
    resize: none;
    outline: none;
    color:rgb(163, 163, 163);
    border-radius: 10px;
} 


#fontUp{
    position: relative;
    left: calc(100vw - 420px);
    top: 45px;
    z-index: 3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#fontDown{
    position: relative;
    left: calc(100vw - 446px);
    top: 57px;
    z-index: 2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}